# SPDX-License-Identifier: MIT
# Author: Mark Gutenberger <mark-gutenberger@outlook.com>
# .gitconfig (c) 2022
# Desc: description
# Created:  2022-03-17T14:06:15.618Z
# Modified:2022-03-17T14:06:38.399Z

[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	ignorecase = true
	hooksPath = ./hooks/
[remote "origin"]
	url = https://github.com/mark-gutenberger/prettier-config
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
	rebase = true
[branch "fix-`hooks`-symlink-error"]
	remote = origin
	merge = refs/heads/fix-`hooks`-symlink-error
	rebase = true
