# SPDX-License-Identifier: MIT
# Author: Mark Gutenberger <mark-gutenberger@outlook.com>
# github-release.yml (c) 2022
# Desc: description
# Created:  2022-03-06T06:25:49.008Z
# Modified: 2022-03-17T13:10:50.513Z
---
name: "release"
on:
  push:
    branches:
      - "master"
jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    steps:
    # ref:
    # steps:
    # - name: Set the value
    #   id: step_one
    #   run: |
    #     echo "action_state=yellow" >> $GITHUB_ENV
    # - name: Use the value
    #   id: step_two
    #   run: |
        # echo "${{ env.action_state }}" # This will output 'yellow'
      - name: "Get package.json version"
        id: kljsdhfkjhbdfkj # unique id
        run: |
          #! /bin/bash
          sudo apt install -y nodejs
          wget https://raw.githubusercontent.com/Mark-Gutenberger/prettier-config/master/package.json
          version=$(node -p "require('./package.json').version")
          echo "version=$version" >> $GITHUB_ENV
          printf "version:$version"
      - name: "increment package.json version"
        id: kjhadfkjhbdfsv # unique id
        run: |
          #! /bin/bash
          printf "version:${{ env.version }}"
          echo "version:${{ env.version }}"
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GH_TOKEN }}"
          automatic_release_tag: "${{ env.version }}"
          prerelease: false
          title: "${{ env.version }}"

