# SPDX-License-Identifier: MIT
# Author: Mark Gutenberger <mark-gutenberger@outlook.com>
# github-release.yml (c) 2022
# Desc: description
# Created:  2022-03-06T06:25:49.008Z
# Modified: 2022-03-06T06:58:10.890Z
---
name: "pre-release"

on:
  push:
    branches:
      - "master"

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"

    steps:
      # ...
      - name: "Build & test"
        run: |
          echo "done!"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          run: |
            export PACKAGE_JSON_VERSION=$(node -p "require('./package.json').version")
          repo_token: "${{ secrets.GH_TOKEN }}"
          automatic_release_tag: "[${{ env.PACKAGE_JSON_VERSION }}]"
          prerelease: true
          title: "version [${{ env.PACKAGE_JSON_VERSION }}]"
          files: |
            LICENSE.md
            .prettierrc*
