# SPDX-License-Identifier: MIT
# Author: Mark Gutenberger <mark-gutenberger@outlook.com>
# github-release.yml (c) 2022
# Desc: description
# Created:  2022-03-06T06:25:49.008Z
# Modified: 2022-03-09T00:11:56.440Z
---
name: "release"
on:
  push:
    branches:
      - "master"
jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Get package.json version"
        id: kljsdhfkjhbdfkj
        run: |
          sudo apt install -y nodejs
          wget https://raw.githubusercontent.com/Mark-Gutenberger/prettier-config/master/package.json
          version=$(node -p "require('./package.json').version")
          echo "version=version" >> $GITHUB_ENV
          printf "version:$version"
      - name: "incriment package.json version"
        id: kjhadfkjhbdfsv
        run: |
          printf "version:${{ env.version }}"
          echo "version:${{ env.version }}"
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GH_TOKEN }}"
          automatic_release_tag: "${{ env.version }}"
          prerelease: false
          title: "${{ env.version }}"

