# SPDX-License-Identifier: MIT
# Author: Mark Gutenberger <mark-gutenberger@outlook.com>
# github-release.yml (c) 2022
# Desc: description
# Created:  2022-03-06T06:25:49.008Z
# Modified: 2022-03-06T07:32:34.670Z
---
name: "release"
on:
  push:
    branches:
      - "master"
jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    steps:  
      - name: "Set env"
        run: |
          pwd
          ls
          PACKAGE_JSON_VERSION=$(node -p "require('./package.json').version")
          echo "PACKAGE_JSON_VERSION=PACKAGE_JSON_VERSION" >> $GITHUB_ENV
      - name: "Build & test"
        run: |
          sudo apt install -y nodejs
          wget https://raw.githubusercontent.com/Mark-Gutenberger/prettier-config/master/package.json
          printf $PACKAGE_JSON_VERSION
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GH_TOKEN }}"
          automatic_release_tag: "${{ env.PACKAGE_JSON_VERSION }}"
          prerelease: true
          title: "version [${{ env.PACKAGE_JSON_VERSION }}]"
          files: |
            LICENSE.md
            .prettierrc*
