name: Publish Release

on:
 push:
 workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      run: pwd \
        ls
    - name: Create a Release
      # uses: actions/checkout@master
      uses: elgohr/Github-Release-Action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      with:
        args: "your mom"
